.main-content{
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  .main-content{
    flex-direction: column;
  }

}

table{
  text-align: left;
}

table th {
  margin-right: 5px;
  display: inline-block;
}
